<div class="container About main">
    <h1 class="title-h1">{{ page.title }}</h1>
  
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 About-Wrapper"> 
        <div class="About-items About-img">{% section 'img-about' %}</div>
        <div>
           
            <h2 class="About-items">About Huria</h2>
            <div class="About-items About-deco_short"></div>
            <div  class="About-items About-content">{{ page.content }}</div>
           
               
                    
        
        </div>
       

    </div>
  </div>
</div>





